.footer{
    padding-top: 6em;
    height: 100vh;
    @media screen and (max-width: 600px){
        h1{
            font-size: 1.3em;
        }
    }
    .about__title{
        margin-bottom: 1em;
    }
    .footer-sub-heading{
        font-size: 1.2em;
        font-weight: bolder;
        font-family: var(--font-mono);
        color: var(--accent-color);
        margin-bottom: 1em;
        text-align: center;
    }
    .app__footer-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: var(--font-mono);
        font-size: 1.3em;
        @media screen and (max-width: 600px) {
            flex-direction: column;
            align-items: center;
            font-size: 1em;
        }
        a{
            text-decoration: none;
            color: var(--lightgray-color);
        }
        .app__footer-card{
            display: flex;
            align-items: center;
            margin: 1em; 
            @media screen and (max-width: 600px) {
                margin: 0.5em;
            }
            img{
                width: 25px;
                height: 25px;
                margin: 0.5em;
            }
        }
    }
    .app__footer-form{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 50%;
        background-color: var(--primary-color);
        padding: 1em;
        border-radius: 10px;
        @media screen and (max-width: 600px) {
            width: 90%;
        }
        .app__flex{
            width: 100%;
            margin: 1em 2em;
            input, textarea{
                border-top-style: hidden;
                border-right-style: hidden;
                border-left-style: hidden;
                border-bottom-style: groove;
                background-color: #e2f2ffc4;
                border: none;
                font-size: 1em;
                scroll-behavior: smooth;
              }
              input:focus, textarea:focus{
                outline: none;
              }
        }
        .p-text{
            width: 100%;
            height: 4em;
            background-color: var(--accent-color);
            padding: 1em;
            border-radius: 10px;
            color: var(--primary-color);
            font-family: var(--font-base);
           
        }
        .submit-btn{
            width: 30%;
            height: 3em;
            background-color: var(--accent-color);
            border-radius: 10px;
            color: var(--primary-color);
            font-family: var(--font-mono);
            font-size: 1.2em;
            font-weight: bolder;
            margin: 2em 0;
            @media screen and (max-width: 600px) {
                width: 60%;
                font-size: 1em;
            }
            &:hover{
                background-color: var(--primary-color);
                color: var(--accent-color);
                border-color: var(--accent-color);
                cursor: pointer;
                background: #fff9043b;
            }
            
        }
        
    }

}
.submit-btn-response{
    color: var(--accent-color);
    font-family: var(--font-mono);
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    margin: 2em;
    height: 50vh;
    @media screen and (max-width: 600px) {
        font-size: 1em;
    }
}
.footer-close{
    
    font-size: 0.8rem;
    .p-text{
        text-align: center;
        a:link { text-decoration: none; }
        a:visited { text-decoration: none; }
        a:hover { text-decoration: none; }
        a:active { text-decoration: none; }
        &:hover{
            cursor: pointer;
            color: var(--accent-color);
        }
        
    }
    

}
